html, body {
    /* position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; */
    font-size: 32px;
    text-align: center;
    vertical-align: center;
}

#app {
    height: 100%;
}

#app > * {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#app > * > * {
    margin: 2px;
}